.seprateContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  margin: 0 20%;
  flex-wrap: wrap;
  z-index: 1;
}

.seprateContainer .cartModal {
  margin: 60px 80px;
  padding: 40px;
  width: 70%;
  min-height: 100%;
  text-align: center;
  border-radius: 5px;
  box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.5);
  background: rgba(199, 197, 197, 0.1);
}

.cartModal h3 {
  text-transform: capitalize;
}

.product_outer {
  text-align: center;
}

.product_outer img {
  margin: 30px;
  transition: 0.3s;
  cursor: pointer;
  transform: scale(1);
  max-width: 300px;
  max-height: 300px;
}

.product_outer img:hover {
  transition: 0.3s;
  transform: scale(1.1);
}

.title {
  margin: 30px;
  text-align: center;
}

.description {
  margin: 30px;
  text-align: center;
}

.price {
  margin: 30px;
  font-size: 25px;
  font-weight: 600;
  text-align: center;
}

/* display: inline-block; */
.addToCart {
  text-align: center;
}
