* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.containers {
  width: 600px;
  margin: 120px auto 120px;
  background-color: rgb(223, 221, 221);
  padding: 0 20px 20px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  box-shadow: 5px 5px 10px grey, 5px 5px 10px grey;
  -webkit-box-shadow: 5px 5px 10px grey, 5px 5px 10px grey;
  -moz-box-shadow: 5px 5px 10px grey, 5px 5px 10px grey;
  text-align: center;
}

.avatar-flip {
  border-radius: 100px;
  overflow: hidden;
  height: 150px;
  width: 150px;
  position: relative;
  margin: auto;
  top: -60px;
  box-shadow: 0 0 0 13px #f0f0f0;
  filter: drop-shadow(3px 4px 5px #e7e6e6);
  /* -webkit-box-shadow: 0 0 0 13px #f0f0f0;
  -moz-box-shadow: 0 0 0 13px #f0f0f0; */
}
.avatar-flip img {
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 100px;
}

.name {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #333;
}

h4 {
  font-size: 10px;
  color: #666;
  letter-spacing: 1px;
  margin-bottom: 25px;
}

p {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 20px;
  color: #666;
}

@media screen and (max-width: 630px) {
  .containers {
    width: 400px;
  }
}

@media screen and (max-width:430px){
  .containers {
    width: 350px;
  }
}