.cart_icon {
  position: absolute;
  right: 30px;
  height: 49px;
  cursor: pointer;
  top: 200px;
}

.cartNumber {
  position: absolute;
  top: -5px;
  right: 0;
  background: brown;
  color: white;
  padding: 0 8px;
  border-radius: 100%;
}

.cart_icon ion-icon .cart_item_count {
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
}

.cart_icon ion-icon {
  font-size: 50px;
}
